{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title> FutureReadyTalent restauronts - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <link rel="icon"href="{% static 'favicon.ico' %}">
    {% endblock %}
    <style>
    .bgchanged {
      /* The image used */
      background-image: url("restaurant_review/templates/restaurant_review/pexels-aleksandar-pasaric-1415734");
    
      /* Full height */
      height: 100%; 
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
</head>
<body class ="bgchanged">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            Futureready talent Restaurant Review 
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">                
            <ul class="navbar-nav mb-2 mb-md-0 ms-auto">
            </ul>
          </div>
        </div>
      </nav>

      <main class="container">    
        {% block content %}{% endblock %}
      </main>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>      
</body>
</html>
